<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% include 'header.html'%}
    <main>
        <div class="w-full bg-gray-300 h-40"></div>

        <div class="flex items-center gap-4 p-4 bg-white shadow">
            <img src="{{channel.image.url}}" class="h-20 w-20 rounded-full bg-gray-400" />
            
            <div >
                <h1 class="text-2xl font-bold">{{channel.name}}</h1>
               
                <div class="flex items-center gap-1">
                    <p class="text-sm text-gray-600 mt-3">1.2M Subscribers</p>
                    <button class="bg-red-500  mt-3 text-white text-sm p-1 rounded">S'abonner</button>
                </div>

            </div>
            
          


            <div class="flex relative left-[555px] items-center justify-end">
                <button class="p-2 bg-red-500 text-white rounded"><a href="/upload/{{channel.id}}">upload video</a></button>
            </div>
        </div>

        <section class="p-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">

            {%for video in videos %}
            <div class="bg-white rounded p-2 shadow">
                <video  class="bg-gray-400 h-40 rounded" controls>
                    <source src="{{video.video.url}}" type="video/mp4">
                </video>

                <div class="flex gap-2 mt-2">
                    <img src="{{channel.image.url}}" class="bg-gray-400 h-8 w-8 rounded-full" />
                    
                    <div>
                        <h2 class="font-semibold text-gray-600">{{video.titre}}</h2>
                        <p class="text-sm text-slate-500">8.3M views - 1 month ago</p>
                        <p class="text-[12px] font-bold text-slate-500">{{channel.name}}</p>
                    </div>

                </div>
            </div>
            {%endfor%}

        </section>
    </main>
</body>
</html>
